@font-face {
    font-family: 'Gilroy-Bold';
    src: local('Gilroy-Bold'), url(./fonts/Gilroy-Bold.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Gilroy-Medium';
    src: local('Gilroy-Medium'), url(./fonts/Gilroy-Medium.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Gilroy-Light';
    src: local('Gilroy-Light'), url(./fonts/Gilroy-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: local('Gilroy-Regular'), url(./fonts/Gilroy-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: local('Gilroy-ExtraBold'), url(./fonts/Gilroy-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: local('Gilroy-SemiBold'), url(./fonts/Gilroy-SemiBold.ttf) format('truetype');
}



body {
    font-family: 'Gilroy-Regular', sans-serif;
    color: #1D2530;
}


header, .first {
    background: url('./data/BG.png');
}

.header-wrapper {
    padding-top: 34px;
    max-width: 1110px; 
    /* 1109 */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.header-line {
    padding-top: 10px;
    display: flex;
    gap: 63.33px;
    padding-left: 436px;
}


.header-element {
    font-size: 20px;
}




.third {
    max-width: 1133px;
    margin: 0 auto;
}

.first {
    padding-top: 122px;
    display: flex;
    padding-bottom: 50px;
    /* background: rgba(242, 247, 255, 0.5); */
}


.connect-title {
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 50px;
}

.purple {
    font-family: 'Gilroy-ExtraBold', sans-serif;
    color: #685ED6;
}

purple {
    font-family: 'Gilroy-ExtraBold', sans-serif;
    color: #685ED6;
}

.connect-text {
    padding-top: 24px;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 24px;
    width: 482px;
}


.connect {
    margin-top: 32px;
    width: 168px;
    height: 48px;
    background: #685ED6;
    padding: 12px 32px;
    color: white;
    border-radius: 8px;
}


.wrapper {
    max-width: 1123px;
    margin: 0 auto;
}

.container {
    display: flex;
}

.second {
    padding-top: 105px;
    padding-bottom: 82px;
    background: rgba(242, 247, 255, 0.5);
}


.description-title {
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 50px;
}

.point-img {
    width: 68px; 
    height: 68px; 
}

.description-text {
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    height: 66px;
    gap: 48px;
}

.description-point {
    display: flex;
    gap: 26px;
}

.first-desc {
    height: 92px;
}

.point-container {
    width: 428px;
    justify-content: center;
}

.first-point {
    height: 92px;
    margin-top: -8px;
}


.point-title {
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 24px;
    line-height: 32px;
}

.point-text {
    padding-top: 8px;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

.second-point {
    margin-top: 7px;
}


/* Third section styles start */

.third {
    padding-top: 100px;
}

.prices-title {
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 46px;
    line-height: 64px;
    text-align: center;
}

.prices-subtitle {
    padding-top: 16px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.price-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.suggestion {
    width: 350px;
    height: 387px;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.suggestion-title {
    width: 350px;
    height: 61px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: rgba(104, 94, 214, 0.05);
    padding: 7px 114px;
}
.suggestion-title h3 {
    color: #685ED6;
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 24px;
    line-height: 48px;
}

.suggestion-container {
    background-color: #FCFEFF;
    padding-bottom: 50px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.suggestion-subtitle {
    color: #1D2530;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 28px;
    line-height: 40px;
    padding: 40px 48px 0px 47px;
    letter-spacing: 0%;
    text-align: center;
}

.suggestion-price {
    color: #1D2530;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding: 32px 29px 46px 29px;
    text-align: center;
}

.connect-by {
    color: white;
    width: 287px;
    height: 48px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    line-height: 24px;
    background: #685ED6;
    margin-left: 31px;
    margin-right: 32px;
    border-radius: 6px;
}


.fourth {
    padding-top: 100px;
    background: url('./data/Rectangle 594.png');
    background-position: center top left 70px;
    background-size: cover;
    height: 100%;
    padding-bottom: 124.34px;
}

.steps-title {
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 46px;
    line-height: 64px;
    text-align: center;
}

.line {
    padding-top: 40px;
    width: 100%;
}

.steps {
    display: flex;
    gap: 182px;
}

.step {
    width: 255px;
}

.step-title {
    padding-top: 16px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.step-text {
    padding-top: 4px;
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.first-img {
    padding-top: 56px;
}

.second-img {
    padding-top: 26.42px;
}

.third-img {
    padding-top: 56px;
}

.step img:last-child {
    float: right;
}

.step:first-child {
    margin-top: -60px;
}

.step:last-child {
    margin-top: -60px;
}


/* FIFTH SECTION STYLES */
.fifth {
    background: rgba(242, 247, 255, 0.5);
}

.reviews-title-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.reviews-title-wrapper img {
    position: absolute;
    padding-left: 1000px;
}

.reviews-title {
    color: #1D2530;
    padding-top: 17px;
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 46px;
    line-height: 64px;
    text-align: center;
}

.slider-wrapper {

}

.card-list {
    padding-top: 55px;
    display: flex;
    gap: 30px;
}

.card {
    width: 540px;
    height: 304px;
}

.card-box {
    height: 234px;
    width: 540px;
    background: url('./data/Card.png') no-repeat center;
    overflow: hidden;
}

.card-box h3 {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    padding: 32px 32px 0px 32px;
}

.card-box p {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    padding: 8px 32px 70px 32px;
}

.author {
    padding-top: 14px;
    display: flex;
    padding-bottom: 100px;
    padding-left: 160px;
}

.author img {
    width: 56px;
    height: 56px;
}

.bio {
    padding-left: 16px;
}

.name {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
}

.email {
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}



/* SIXTH SECTION */


.join-container {
    justify-content: center;
    background: url('./data/Join.png') no-repeat;
    margin: 90px 0px;
    width: 100%;
    height: 288px;
}

.join-title {
    color: white;
    padding: 48px 185px 0px 480px;
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 33px;
    line-height: 41px;
    text-align: left;
}

.email-subscription {
    margin: 32px 262px 74px 480px;
    display: flex; /* Размещаем элементы рядом друг с другом */
    width: 368px; 
    height: 52px;
  }
  
  .email-input {
    color: #474A57;
    width: 248px;
    padding: 14px 16px;
    border: none; /* Убираем стандартную границу */
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    outline: none; /* Убираем обводку при фокусе */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .submit-button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 120px;
    background-color: #18191F;
    color: #ffffff;
    padding: 14px 24px;
    border: none; /* Убираем стандартную границу */
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    cursor: pointer; /* Меняем курсор на указатель */
    transition: background-color 0.3s; /* Плавный переход цвета при наведении */
    
  }
  
  .submit-button:hover {
    background-color: #333333; /* Цвет при наведении */
  }


/* FOOTER */


.footer-wrapper {

}

.footer-container {
    background: #1D2530;
    height: 520px;
}

.information-box {
    margin: 0 auto;
    padding-top: 104px;
    padding-bottom: 78px;
    max-width: 1110px;
    height: 448px;
    display: flex;
}

.first-column {
    color: #ffffff;
    padding-top: 7px;
}

.first-column img {
    padding-left: 3px;
}

.first-column h3 {
    padding-top: 10px;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 32px;
    line-height: 24px;
    text-align: left;
}

.second-column {
    color: #EEEFF4;
    margin-left: 389px;
}

.second-column ul {
    padding-top: 32px;
}

.column-highlight {
    color: #F4F5F7;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}

.third-column {
    color: #EEEFF4;
}

.copyright-box {
    color: #D9DBE1;
    background: #141B23;
    height: 72px;
}

.copyright-box p {
    margin: 0 auto;
    max-width: 1110px;
}